<a title="" class="fancybox placeholder" data-fancybox-type="iframe" id="placeholder-instance-button" style="display: none">
    <img src="{{ STATIC_URL }}placeholder/icons/placeholder_instance_button.png" width="16" />
</a>

<a title="Placeholder" class="fancybox placeholder" id="placeholder-field-button" style="display: none" href="#">
    <img src="{{ STATIC_URL }}placeholder/icons/placeholder_field_button.png" width="16" />
</a>

<a title="Placeholder" class="fancybox placeholder" id="placeholder-image-button" style="display: none" href="#">
    <img src="{{ STATIC_URL }}placeholder/icons/placeholder_image_button.png" width="16" />
</a>

<a title="Placeholder" class="fancybox placeholder" id="placeholder-multiedit-button" style="display: none" href="#">
    <img src="{{ STATIC_URL }}placeholder/icons/placeholder_multiedit_button.png" width="32" />
</a>
