<h4 class="box-title"><span class="orange-box-title">New</span> <span class="green-box-title">Recipe</span></h4>
<img src="{{ portlet.image.url }}">
<a href="http://wbpreview.com/previews/WB015P5K7/detail.html"><h4>{{ portlet }}</h4></a>
<p>
    {{ portlet.body|linebreaksbr }}
</p>
<span class="green"><strong>Previous</strong></span>
<ul class="previous-list">
    <li><a href="http://wbpreview.com/previews/WB015P5K7/detail.html">Resep Tahu: Asinan Tahu</a></li>
    <li><a href="http://wbpreview.com/previews/WB015P5K7/detail.html">Resep Sayuran: Tumis Tauge Renyah</a></li>
    <li><a href="http://wbpreview.com/previews/WB015P5K7/detail.html">Resep Sup : Sup Pangsit Ayam</a></li>
</ul>
<a href="http://wbpreview.com/previews/WB015P5K7/#" class="btn btn-mini btn-success">Send your recipes</a>
<br>
<br>
